Source: darch
Section: devel
Priority: optional
Maintainer: Paul Knopf <pauldotknopf@gmail.com>
Build-Depends: git,
    golang,
    debhelper

Package: darch
Architecture: any
Depends: ${shlibs:Depends}, darch-containerd, grub2-common
Description: A tool for building and booting stateless and immutable images, bare metal.